In [2]:
# Dependencies
import tweepy
import random
import time
import json
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint

In [9]:
# Read in merged dataset 
file = "datasets/merged_lists_032118.csv"

df1 = pd.read_csv(file)

df1.head()

    normal_users  fitness_users
0       sbwTweet  relentless084
1  Allisonlmoore     fitplusllc
2      kristib_t         wchazz
3        omoawo_    QRoberts747
4     KelphelpOG   KeynesJohnny

In [12]:
normal_users = df1["normal_users"].tolist()
fitness_users = df1["fitness_users"].tolist()
# normal_users
# fitness_users